@import url("https://fonts.googleapis.com/css?family=EB+Garamond:n,b,i");

body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: 400;
}

header {
    background-color: #401040;
    color: #ffffff;
}

header > section {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header > section > span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 24px;
}

header > section > img:last-of-type {
    margin-left: auto;
}

header > nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

header > nav > a {
    display: block;
    text-decoration: none;
    background-color: #2C8000;
    margin-bottom: 3px;
    padding: 15px;
    color: white;
    font-weight: 500;
}