@import url("https://fonts.googleapis.com/css?family=EB+Garamond:n,b,i");

body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: 400;
}

header {
    background-color: #401040;
    color: #ffffff;
}

header > section {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header > section > img.close {
    display: none;
}

header > section > span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 24px;
}

header > section > img.open, header > section > img.close {
    margin-left: auto;
}

header > nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

header > nav > a {
    display: block;
    text-decoration: none;
    background-color: #2C8000;
    margin-bottom: 3px;
    padding: 15px;
    color: white;
    font-weight: 500;
}

header > nav {
    display: none;
}

section#description, section#history, #search-section, section#book-details, section#book-reviews, #reserve-section, section#search-locations, section#location-details, section#contact {
    background-color: #800080;
    color: white;
    padding: 22px 16px;
}

section#description > h2, #search-section > h2, section#book-details > h2, section#search-locations > h2, section#location-details > h2, section#contact > h2 {
    margin-top: 0;
    font-size: 22px;
    font-weight: 500;
}

section#description > img, section#history > img {
    width: 100%;
}

section#go-to-search {
    background-color: #401040;
    color: white;
    padding: 88px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#go-to-search > p:first-of-type {
    margin: 0;
    text-align: center;
}

button {
    color: white;
    border-radius: 5px;
    background-color: #2C8000;
    border: none;
}

section#go-to-search button {
    margin-top: 85px;
    padding: 10px 80px;
    font-weight: 500;
}

section#history > h2 {
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 12px;
}

footer {
    background-color: #401040;
    color: white;
    padding: 22px 16px;
}

footer > h2 {
    margin-top: 0;
    font-weight: 400;
}

footer > a {
    font-size: 20px;
    font-weight: 500;
    color: #78D447;
}

footer > .imgs {
    padding-top: 40px;
}

footer > .imgs > img {
    width: 40px;
    margin-right: 13px;
}

#search-section {
    min-height: 310px;
}

#search-section > form, section#search-locations > form {
    display: inline-block;
}

#search-section > form > input, section#search-locations > form > input {
    background-color: #808080;
    color: white;
    outline: none;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 15px;
    width: 225px;
    font-size: 20px;
}

#search-section > form > input::placeholder, section#search-locations > form > input::placeholder {
    color: white;
    opacity: 0.8;
}

#search-section > img.search, section#search-locations > img.search {
    position: relative;
    top: 4px;
    left: -35px;
}

#search-section > img.filter {
    position: relative;
    top: 6px;
    left: -5px;
}

#search-section > img.info {
    position: relative;
    top: 6px;
    left: 6px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 16px;
    row-gap: 18px;
}

.grid a {
    text-decoration: none;
    color: inherit;
}

.grid-item {
    background-color: #CDCDCD;
    color: black;
    border-radius: 10px;
    padding: 10px;
}

#search-section .grid {
    margin-top: 42px;
}

#search-section div.filter {
    height: 150px;
    border-radius: 40px;
    background-color: #FF80FF;
    margin-top: 32px;
    padding: 10px;
    display: none;
    position: relative;
}

#search-section div.filter > form {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    row-gap: 20px;
    height: 100%;
    align-content: center;
}

select {
    padding: 10px;
    border: 2px solid black;
    border-radius: 20px;
}

#search-section div.filter > form > select {
    background-color: rgba(0,0,0,0);
}

select:has(option[value=""]:checked) {
    color: #666666;
}

#search-section div.filter > img.done {
    position: absolute;
    top: 0;
    right: 0;
}

#search-section div.filter > form > .my-books-selector {
    border: 2px solid black;
    padding: 6px;
    border-radius: 20px;
    color: black;
    display: flex;
}

#search-section div.filter > form > .my-books-selector > [type="checkbox"] {
    accent-color: black;
}

section#book-details > h3, section#location-details > h3, section#book-details > h4 {
    color: #78D447;
}

section#book-details > h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 8px;
}

section#book-details > h4 {
    margin-top: 8px;
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: 500;
}

section#book-details > p:last-of-type {
    margin-bottom: 0;
}

section#book-details-actions {
    background-color: #401040;
    display: flex;
    justify-content: center;
    padding-top: 21px;
    padding-bottom: 36px;
    align-items: center;
    flex-direction: column;
    color: white;
}

section#book-details-actions > p {
    margin-top: 20px;
    margin-bottom: 0;
}

section#book-details-actions span.green {
    color: #02B70A;
}

section#book-details-actions div:has(button), #reserve-section div:has(button), section#contact div:has(button) {
    margin-top: 28px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

section#book-details-actions button, section#contact button {
    padding: 10px 60px;
    border-radius: 20px;
}

button.disabled {
    background-color: #7C7B7B;
}

section#book-reviews > h2 {
    margin-top: 0;
    font-weight: normal;
    font-size: 24px;
}

section#book-reviews > ul {
    line-height: 22px;
}

section#book-more-imgs {
    background-color: #401040;
    padding: 26px 16px;
}

section#book-more-imgs img, #reserve-section > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#book-details-footer {
    background-color: #800080;
}

#reserve-section > h2 {
    margin-top: 8px;
    font-size: 22px;
    font-weight: 500;
}

#reserve-section > h3 {
    font-weight: 500;
}

#reserve-section > form {
    margin-top: 36px;
}

#reserve-section select {
    border: 1px solid black;
    width: 200px;
    text-align: center;
    margin-bottom: 32px;
}

#reserve-section button {
    padding: 10px 70px;
    font-weight: 500;
    border-radius: 20px;
}

#reserve-section div:has(button) {
    justify-content: center;
    margin-top: 60px;
}

section#search-locations {
    min-height: 320px;
}

section#search-locations .grid {
    margin-top: 38px;
    margin-bottom: 36px;
}

section#location-details > h3 {
    font-size: 20px;
    font-weight: 500;
}

section#location-details > p {
    text-align: center;
}

section#location-details > iframe {
    width: 100%;
}

section#location-details button {
    padding: 10px 80px;
    display: block;
    border-radius: 20px;
    margin: 40px auto 34px;
}

section#location-details a {
    text-decoration: none;
}

section#contact > img.contact-icon {
    margin-left: 10px;
    position: relative;
    top: 4px;
}

section#contact > h2 {
    display: inline-block;
}

section#contact > form > input {
    display: block;
    margin-bottom: 22px;
    padding: 10px;
    background-color: #D9D9D9;
    color: #7C7B7B;
}

section#contact > form > textarea {
    background-color: #D9D9D9;
    color: #7C7B7B;
}

section#contact div:has(button) {
    justify-content: center;
}

section#contact button {
    padding: 10px 75px;
}

section#contact > div:has(img.info) {
    margin-top: 10px;
}

section#contact > div:has(img.info) > p {
    display: inline-block;
    padding-left: 5px;
}

section#contact > div:has(img.info) > img {
    position: relative;
    top: 10px;
}

.tablet {
    display: none;
}

@media only screen and (max-width: 375px) {
    #search-section > form > input {
        width: 160px;
    }
}

@media only screen and (min-width: 768px) {
    header > section > img.open {
        display: none;
    }

    header > nav {
        display: flex;
        flex-direction: row;
        width: auto;
        margin-left: auto;
    }

    header {
        display: flex;
    }

    header > nav > a {
        line-height: 34px;
    }

    header > nav > a:not(.active) {
        background-color: inherit;
    }

    header > nav > a:not(:last-child) {
        border-right: 1px solid;
    }

    .tablet {
        display: initial;
    }

    section#go-to-search p {
        font-size: 24px;
        font-weight: 500;
    }

    section#go-to-search button {
        width: 425px;
        border-radius: 20px;
        font-size: 22px;
        font-weight: 500;
    }

    section#description p {
        font-size: 20px;
    }

    section#description > h2 {
        font-size: 28px;
        font-weight: 500;
    }

    section#history img.tablet {
        display: block;
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    section#history > h2 {
        font-size: 28px;
        font-weight: 500;
    }

    section#history > p {
        font-size: 20px;
        font-weight: 400;
    }

    .mobile {
        display: none;
    }

    header > section > span, header > nav > a {
        font-size: 26px;
        font-weight: 700;
    }
}