@import url("https://fonts.googleapis.com/css?family=EB+Garamond:n,b,i");

body {
    margin: 0;
    font-family: 'EB Garamond', serif;
    font-style: normal;
    font-weight: 400;
}

header {
    background-color: #401040;
    color: #ffffff;
}

header > section {
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

header > section > img.close {
    display: none;
}

header > section > span {
    margin-left: 10px;
    font-weight: bold;
    font-size: 24px;
}

header > section > img.open, header > section > img.close {
    margin-left: auto;
}

header > nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

header > nav > a {
    display: block;
    text-decoration: none;
    background-color: #2C8000;
    margin-bottom: 3px;
    padding: 15px;
    color: white;
    font-weight: 500;
}

header > nav {
    display: none;
}

section#description {
    background-color: #800080;
    color: white;
    padding: 22px 16px;
}

section#description > h2, #search-section > h2 {
    margin-top: 0;
    font-size: 22px;
    font-weight: 500;
}

section#description > img, section#history > img {
    width: 100%;
}

section#go-to-search {
    background-color: #401040;
    color: white;
    padding: 88px 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#go-to-search > p:first-of-type {
    margin: 0;
    text-align: center;
}

section#go-to-search > button {
    margin-top: 85px;
    background-color: #2C8000;
    border-radius: 5px;
    color: white;
    padding: 10px 80px;
    border: none;
    font-weight: 500;
}

section#history, #search-section {
    background-color: #800080;
    color: white;
    padding: 22px 16px;
}

section#history > h2 {
    margin-top: 0;
    font-weight: 500;
    margin-bottom: 12px;
}

footer {
    background-color: #401040;
    color: white;
    padding: 22px 16px;
}

footer > h2 {
    margin-top: 0;
    font-weight: 400;
}

footer > a {
    font-size: 20px;
    font-weight: 500;
    color: #78D447;
}

footer > .imgs {
    padding-top: 40px;
}

footer > .imgs > img {
    width: 40px;
    margin-right: 13px;
}

#search-section > form > input {
    background-color: #808080;
    color: white;
    outline: none;
    border: 1px solid black;
    border-radius: 15px;
    padding: 10px 15px;
    width: 225px;
    font-size: 20px;
}

#search-section > form > input::placeholder {
    color: white;
    opacity: 0.8;
}